<div class="col-md-12">
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>用户</td>
        <td>生日</td>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>#</td>
          <td><%= user.email %></td>
          <td><%= user.birthday %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
